<html>
  <head>
    <title>Thermostat</title>
  </head>
  <body>
    <div id='main'>
      <h1 id='tempdisplay'></h1>
      <div id='increasetempbutton'>
        <button value="increaseTemp">UP</button>
      </div>
      <div id='decreasetempbutton'>
        <button value="decreaseTemp">DOWN</button>
      </div>
      <div id='resettempbutton'>
        <button value="resetTemp">RESET</button>
      </div>
      <div id='powersavetogglebutton'>
        <button value="powerSaveToggle">POWER SAVE</button>
      </div>
      <div id='powersavetoggledisplay'>
      </div>
      <div id='energyusagedisplay'>
      </div >
      <br>
      <div id='temperature'>
      </div>
      <div id='weather'>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../src/thermostat.js"></script>
    <script src="../src/interface.js"></script>
  </body>
</html>
