<html>
  <head>
    <title>Thermostat</title>
  </head>
  <body>
    <div id='main'>
      <div id='tempdisplay'>
        thermostat.getTemp
      </div>
      <div id='increasetempbutton'>
        <button value="increaseTemp">UP</button>
      </div>
      <div id='decreasetempbutton'>
        <button value="decreaseTemp">DOWN</button>
      </div>
      <div id='resettempbutton'>
        <button value="resetTemp">RESET</button>
      </div>
      <div id='powersavetogglebutton'>
        <button value="powerSaveToggle">POWER SAVE</button>
      </div>
      <div id='powersavetoggledisplay'>
        thermostat._powersaving
      </div>
      <div id='energyusagedisplay'>
        thermostat.getEnergyUsage
      </div>
    </div>
    <script src="../src/thermostat.js" type="javascript"></script>
  </body>
</html>
